// 搜索条件
.tab-filter {
	width: 100%;
	height: 96rpx;
	background-color: #fff;
	border-radius: 10rpx;
	overflow: hidden;
	display: flex;
	margin-bottom: 20rpx;
	position: relative;

	&__item {
		flex: 1;
		height: 96rpx;
		display: flex;
		align-items: center;
		justify-content: center;

		.item-label {
			position: relative;
			padding-right: 10rpx;

			&::after {
				content: '';
				display: inline-block;
				border-width: 8rpx;
				border-color: rgba(0, 0, 0, 0.45) transparent transparent transparent;
				border-style: solid;
				position: absolute;
				top: 18rpx;
				right: -16rpx;
			}
		}
	}
}
.list-wrap {
	position: relative;
	height: 100vh;
	background: #f8f8f8;
	display: flex;
	flex-direction: column;
	font-size: 28rpx;

	.search-result {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.choose-label {
		display: flex;
		flex:1;
		justify-content: center;
		align-items: center;
		.name {
			width: 62%;
			text-align:center;
		}
		.label {
			position: relative;
			&::after {
				content: "";
				display: inline-block;
				border-width: 8rpx;
				border-color: rgba(0, 0, 0, 0.45) transparent transparent transparent;
				border-style: solid;
				position: absolute;
				top: 18rpx;
				right: -16rpx;
				border-top-width: 4px;
				border-right-width: 4px;
				border-bottom-width: 4px;
				border-left-width: 4px;
				border-top-color: rgba(0, 0, 0, 0.45);
				border-right-color: transparent;
				border-bottom-color: transparent;
				border-left-color: transparent;
				border-top-style: solid;
				border-right-style: solid;
				border-bottom-style: solid;
				border-left-style: solid;
			}
		}
		
	}
	.list-wrap {
		flex: 1;
		overflow: hidden;
	}

	.searchBox {
		background: #fff;
	}

	.divider-stripe {
		width: 100%;
		height: 16rpx;
		background: #f8f8f8;
	}

	.card {
		padding: 0 32rpx 32rpx;
		position: relative;

		.card-bg {
			position: absolute;
			width: calc(100% - 64rpx);
			height: calc(100% - 32rpx);
			box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
		}
		
		.tip {
			position: absolute;
			right:32rpx;
			top: 12rpx;
			width: 200rpx;
			height: 100rpx;
			color: #fff;
			font-size: 24rpx;
			line-height: 28rpx;
			text-align: right;
			padding: 8rpx 30rpx;
			background: #FF8E8E;
			border-radius: 16px 16px 16px 16px;
			
			&.blue {
				background: #409EFF;
			}
			&.green {
				background: #67C23A;
			}
			&.orange {
				background: #F5A250;
			}
			&.red {
				background: #FF8E8E;
			}
		}
		
		.card-info {
			position: relative;
			padding: 32rpx;
			
			.type {
				font-size: 24rpx;
				color: #409EFF;
				width: 206rpx;
				height: 48rpx;
				text-align: center;
				line-height: 48rpx;
				background: #ECF5FF;
				border-radius: 16rpx;
			}
			
			.title {
				font-size: 32rpx;
				color: rgba(0,0,0,0.85);
				line-height: 48rpx;
				height:48rpx;
				margin-top: 24rpx;
			}
			
			.caseNo {
				font-size: 24rpx;
				color: rgba(0,0,0,0.65);
				line-height: 40rpx;
				margin-top:24rpx;
			}
			
			.info {
				display: flex;
				justify-content: space-between;
				font-size: 24rpx;
				color: rgba(0,0,0,0.45);
				line-height: 40rpx;
				margin-top: 24rpx;
			}
			
			.caseDesc {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				height: 80rpx;
				word-break: break-all;
			}
			
		}
	}
}
