@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@font-face {
    font-family: 'youshebiaotihei';
    src: url(../fonts/YouSheBiaoTiHei.ttf);
}
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'PingFang SC', Avenir, 'Segoe UI', 'Hiragino Sans GB', STHeiti,
        'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
}
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.ysfont {
    font-family: youshebiaotihei;
}
.mar {
    margin-top: 10px;
}
.mar2 {
    margin-top: 20px;
}
.marright30 {
    margin-right: 30px;
}
.marright10 {
    margin-right: 10px;
}
.marleft10 {
    margin-left: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.el-select {
    width: 100% !important;
}
.el-input-number {
    width: 100% !important;
    .el-input__inner {
        text-align: left;
    }
}

.dialogForm {
    .el-form-item {
        margin-bottom: 0px;
    }
}

label {
    font-weight: 400;
}
.l {
    float: left;
}
.r {
    float: right;
}
.over {
    overflow: hidden;
}
html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
        height: 0;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
//公共样式
//按钮样式重置
.el-button {
    border-radius: 8px;
}
.el-button--primary {
    color: #fff;
    background: linear-gradient(180deg, #478ff9 0%, #236cd8 100%);
}
.el-button--primary:focus,
.el-button--primary:hover {
    background: linear-gradient(180deg, #478ff9 0%, #236cd8 100%);
    border-color: none;
    opacity: 0.9;
}
.el-button--success {
    color: #fff;
    background-color: #59a076;
    border-color: #59a076;
}

.el-button--mini {
    padding: 4px 9px;
    font-size: 12px;
    border-radius: 4px;
}
.el-button--primary.is-plain, .el-button--danger.is-plain, .el-button--success.is-plain, .el-button--warning.is-plain {
    border: none;
}
.el-button--info.is-plain {
    color: #40BFA8;
    background-color: #ECF9F6;
    border: none;
}
.el-button--info.is-plain:active,.el-button--info.is-plain:focus, .el-button--info.is-plain:hover {
    color: #40BFA8;
    background-color: #ECF9F6;
    border: none;
}
.el-button--mini {
    padding: 6px 9px;
}
.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
    // background: #355bad;
    border-color: none;
}
//表单样式重置
.el-input__inner {
    border-radius: 8px;
}
//表格样式重置
.el-table--border {
    border-bottom: 1px solid #ebeef5 !important;
}
.el-table {
    th {
        background: linear-gradient(bottom,#F1F6FF 0%, #FFFFFF 100%)!important;
        padding: 5px 5px !important;
        height: 48px;
        .cell {
            font-weight: bold;
            color: #333;
        }
    }
    td {
        padding: 0px 0 !important;
        height: 48px !important;
        overflow: hidden;
    }
}
.el-table::before {
    content: none;
}
.el-table__fixed::before {
    content: none;
}
.el-table__fixed-right::before {
    content: none;
}

// 弹窗样式重置
.el-dialog {
    // max-width: 600px;
    padding: 0px;
}
.el-dialog__header {
    padding: 15px !important;
}
.el-dialog__title {
    font-size: 16px;
}
.el-dialog__body {
    border-top: 1px solid #dcdfe6;
    padding: 20px;
}

// 抽屉弹窗样式重置

// 详情标题
.view-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px;
    position: relative;
    margin-left: 18px;

    &::before {
        content: '';
        position: absolute;
        left: -18px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #244895;
        box-shadow: 0 0 5px rgba($color: #244895, $alpha: 0.5);
    }
    h4 {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        width: 140px;
        color: #333;
    }
}
.el-drawer {
    overflow-y: auto !important;
}
.el-drawer__header {
    padding: 10px !important;
    margin-bottom: 14px;
    border-bottom: 1px solid #d1d9e1 !important;

    .drawer-title {
        font-size: 16px;
        line-height: 16px;
        color: rgb(40, 53, 95);
        display: flex;
        align-items: center;
        position: relative;
        //&::before {
        //  content: "";
        //  position: absolute;
        //  left: -10px;
        //  width: 4px;
        //  height: 45px;
        //  background: #537cdb;
        //}
        b {
            display: block;
            font-size: 16px;
            line-height: 16px;
            margin-top: 2px;
            margin-right: 4px;
            font-weight: normal;
            margin-left: 8px;
        }
    }
}
.drawer-content {
    padding: 0 20px 90px;
}

.footer-btn {
    padding: 12px 20px;
    border-top: 1px solid #efefef;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    width: $drawWidth;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 999999;
}

.my-label {
    width: 120px;
}
.my-content {
    //width: 360px;
}

//公共样式结束

.app-main {
    background: #FAFCFF;
    box-shadow: inset 0px 0px 32px 0px rgba(198,215,225,0.64);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .w-200 {
        width: 200px;
    }

    .app-container {
        padding: 0px;
        margin: 24px;
        background: transparent;
        overflow-x: hidden;
        border-radius: 4px;
        //box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        height: calc(100vh - 60px - 40px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .filter-container {
            padding-bottom: 10px;

            .filter-item {
                display: inline-flex;
                vertical-align: middle;
                margin-bottom: 10px;

                + .filter-item {
                    margin-left: 10px;
                }
            }
        }

        .table-container {
            width: 100%;
        }

        .el-input-number--small {
            width: 180px;
        }

        .form-container {
            width: 100%;
            height: calc(100vh - 60px - 80px);
            display: flex;
            flex-direction: column;

            .form-container-header {
                height: 40px;
                line-height: 40px;
                background: #ffffff;
            }

            .form-container-body {
                flex: 1;
                overflow: auto;
            }
            .form-container-footer {
                height: 40px;
                line-height: 40px;
                background: #ffffff;
            }
        }
    }
    .app-container2 {
        height: calc(100vh - 60px - 20px);
        overflow: auto;
    }
    .topsearch {
        .el-form-item {
            margin-bottom: 24px;
            margin-right: 0;
            width: 25%;
        }

        .el-form-item__content {
            width: calc(100% - 110px);
        }
    }
    .topsearchTitle {
        font-size: 18px;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        margin-bottom: 15px;
        .topsearchIcon {
            margin-top: 2px;
            float: left;
            display: block;
            margin-right: 10px;
            width: 8px;
            height: 26px;
            background: #e6e6e6;
            border-radius: 4px;
        }
    }
    .topbd {
        padding-top: 20px;
    }
    .topbdfont {
        height: 32px;
        line-height: 32px;
        float: left;
        width: 100px;
    }

    .mainbox {
        padding: 20px;
        margin: 0px 20px;
        background: #ffffff;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
}

.formBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #f7faff 0%, #ffffff 25%);
    box-shadow: 0px 0px 12px 0px #e6edf1;
    border-radius: 16px 16px 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding: 24px;
    margin-bottom: 24px;

    ::v-deep .el-radio-button--mini .el-radio-button__inner {
        padding: 10px 15px;
        margin-bottom: 24px;
    }

    .topsearch {
        flex: 1;
    }
    .rightBox {
        text-align: right;
    }
}

// 每块内容的表头
.common-content {
    background: #fff;
    margin-bottom: 24px;
    border-radius: 24px;
    .common-title {
        height: 48px;
        padding: 0 24px;
        background: linear-gradient(0deg, #f1f6ff 0%, #ffffff 100%);
        border-radius: 16px 16px 0px 0px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .common-data {
        padding: 24px;
        display: flex;
    }
}

.table-wrap {
    border-radius: 16px;
    overflow:hidden;
    box-shadow: 0px 0px 12px 0px #E6EDF1;
}

.mobile {
    .app-main {
        .w-200 {
            width: 100%;
        }
        .app-container {
            .filter-container {
                .filter-item {
                    margin-left: 0;
                    &.el-date-editor.el-range-editor.el-input__inner.el-date-editor--datetimerange {
                        width: auto;
                    }
                }
            }
        }
    }

    .el-dialog {
        width: 100% !important;
        margin-top: 0 !important;
    }
}
.top-body {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ebeef5;
    padding-top: 15px;
    margin-bottom: 15px;
}

// 步骤流程图的样式
.open-book-wrap {
    .step-wrap {
        margin-bottom: 16px;
        display: flex;
        overflow: hidden;
        .step1 {
            position: relative;
            flex:1;
            height: 47px;
            display: flex;
            align-items: center;
            background: #ecf5ff;

            &::after {
                content: '';
                position: absolute;
                right: -20px;
                top: 0;
                bottom: 0;
                border: 24px solid #fff;
                border-left: 24px solid #ecf5ff;
            }

            .num {
                width: 24px;
                height: 24px;
                margin-left: 24px;
                margin-right: 8px;
                background: #409eff;
                border-radius: 32px 32px 32px 32px;
                font-size: 14px;
                color: #ffffff;
                text-align: center;
                line-height: 24px;
            }

            .name {
                font-size: 14px;
                color: #409eff;
            }
        }

        .step1-active {
            background: #409eff;

            &::after {
                border: 24px solid #fff;
                border-left: 24px solid #409eff;
            }

            .num {
                color: #409eff;
                background: #fff;
            }

            .name {
                color: #fff;
            }
        }

        .step2 {
            position: relative;
            flex:1;
            height: 47px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.06);

            &::before {
                content: '';
                position: absolute;
                left: -1px;
                top: 0;
                bottom: 0;
                border: 24px solid transparent;
                border-left: 24px solid #fff;
            }

            &::after {
                content: '';
                position: absolute;
                right: -20px;
                top: 0;
                bottom: 0;
                border: 24px solid #fff;
                border-left: 24px solid transparent;
            }

            .num {
                width: 24px;
                height: 24px;
                margin-left: 48px;
                margin-right: 8px;
                background: rgba(0, 0, 0, 0.25);
                border-radius: 32px 32px 32px 32px;
                font-size: 14px;
                color: #ffffff;
                text-align: center;
                line-height: 24px;
            }

            .name {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.45);
            }
        }

        .step2-over {
            background: #ecf5ff;

            &::after {
                border: 24px solid #fff;
                border-left: 24px solid #ecf5ff;
            }

            .num {
                background: #409eff;
                color: #fff;
            }

            .name {
                font-size: 14px;
                color: #409eff;
            }
        }

        .step2-active {
            background: #409eff;

            &::after {
                border: 24px solid #fff;
                border-left: 24px solid #409eff;
            }

            .num {
                background: #ffffff;
                color: #409eff;
            }

            .name {
                font-size: 14px;
                color: #fff;
            }
        }
    }
}
