// sidebar
$menuText:#333333;
$menuActiveText:#000000;
$subMenuActiveText:#000000;

$menuBg:#fff;
$TopmenuBg:#244895;
$menuHover:#E9EDF4;

$subMenuBg:#fff;
$subMenuHover:#E9EDF4;

$sideBarWidth: 250px;
$subBarWidth: 120px;
$drawWidth: 60%;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  TopmenuBg: $TopmenuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subBarWidth: $subBarWidth;
  drawWidth:$drawWidth;
}
